* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5em;
    flex: 0 1 0;
}

.controls button{
    width: 100%;
}

.controls button {
    padding: 5px 0px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 512px;
    aspect-ratio: 1;
    background-color: white;
    border: solid black 4px;
}

.gridSquare {
    aspect-ratio: 1;
    background-color: transparent;
    border: solid black 1px;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 8vw;
    min-width: 100px;
    
}

.slider {
    width: 100%;
    height: 1.5em;
    background-color: gray;
}